.container {
  padding: 12px;
  width: 100%;
  z-index: 2;
  background-color: var(--background);
  transition: background-color 0.2s ease;
  backdrop-filter: blur(40px);
  opacity: 0.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 72px;

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    cursor: pointer;
    padding: 0 6px;
    border-radius: 12px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.menuButton {
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  padding: 6px;
  border-radius: 100px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
