.container {
  display: flex;
  gap: 12px;

  .avatar {
    border-radius: 50px;
  }

  .text {
    display: flex;
    flex-wrap: wrap;

    .jvmi {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      flex-grow: 1;
      min-width: 100%; /* Force the jvmi to be full width */

      .follow {
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .caption {
      flex-basis: 100%; /* Take full width but allows wrapping */
      font-size: 14px;
      font-weight: 400;
    }
  }
}
