.wrapper {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.container {
  background-color: rgba($color: #808080, $alpha: 0.1);
  border-radius: 100px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 8px;

  .dot {
    width: 18px;
    height: 18px;
    border-radius: 12px;
    background-color: rgba($color: #808080, $alpha: 0.2);
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #808080, $alpha: 0.5);
      transform: scale(1.2);
    }
  }

  .active {
    height: 46px;
    background-color: rgba($color: #808080, $alpha: 0.5);

    &:hover {
      background-color: rgba($color: #808080, $alpha: 0.5);
      transform: scale(1);
    }
  }
}

.closeButton {
  background-color: rgba($color: #808080, $alpha: 0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 32px;
  width: 32px;
  rotate: 90deg;
  color: rgba($color: #808080, $alpha: 0.5);

  &:hover {
    background-color: rgba($color: #808080, $alpha: 0.2);
  }
}
