.container {
  background: var(--background);
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  width: 100%;

  .divider {
    border-top: 1px solid var(--text-secondary);
    margin-bottom: 24px;
    width: 100%;
  }

  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .links {
    display: flex;
    gap: 48px;
    width: 100%;

    .linksContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .link {
        color: var(--text-secondary);
        font-family: var(--header-font);
        font-size: 22px;
        transition: all 0.2s ease;

        &:hover {
          color: var(--foreground);
        }
      }
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    // margin-top: 24px;

    .themeContainer {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    p {
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 48px 24px;
    .links {
      flex-direction: column;
      gap: 16px;

      .linksContainer {
        .link {
          width: fit-content;
        }
      }
    }
  }
}
