.container {
  position: relative;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas {
  display: grid;
  cursor: pointer;
}

.wordmark {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.tagline {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  color: var(--foreground);

  span {
    font-family: var(--header-font);
  }
}
