.container {
  background-color: #161616;
  height: 100%;
  width: 100%;
  display: flex;

  .imagesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      background-color: #000;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
