.container {
  position: fixed;
  top: 16px;
  right: 16px;
  border: 1px solid #333;
  background-color: #090c0f;
  border-radius: 18px;
  padding: 14px;
  padding-left: 18px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    width: calc(100% - 32px);
    top: 16px;
    bottom: unset;
    z-index: 3;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .button {
    padding: 8px 16px;
    background-color: #12171c;
    color: white;
    border-radius: 8px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #1a2128;
    }
  }

  .notification {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background-color: red;
    border-radius: 50px;
    height: 24px;
    width: 24px;
  }
}
