.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h1 {
    font-weight: 700;
    font-style: italic;
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 8px;
    margin-left: 8px;
    align-self: flex-start;
  }

  .menuContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: min(12px, 1.7vw);
    height: 100%;
    width: 100%;
  }

  .menuIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .iconWrapper {
      width: 100%;
      height: 100%;

      &:not(:last-child) {
        margin-right: min(12px, 1.7vw);
      }
    }
  }

  .main {
    border: 4px solid black;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: white;
    position: relative;
    --distance: -12px;
    animation: colorCycle infinite 5s;

    @keyframes colorCycle {
      0% {
        background-color: red;
      }

      14% {
        background-color: orange;
      }

      28% {
        background-color: yellow;
      }

      42% {
        background-color: green;
      }

      66% {
        background-color: rgb(0, 183, 255);
      }

      78% {
        background-color: rgb(139, 44, 255);
      }

      100% {
        background-color: red;
      }
    }

    .sparkle {
      position: absolute;
      height: 52px;
      aspect-ratio: 1;
    }
    .sparkle1 {
      top: var(--distance);
      right: var(--distance);
    }

    .sparkle2 {
      bottom: var(--distance);
      left: var(--distance);
    }
  }
}
