.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  h1 {
    font-weight: 700;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 16px;
    align-self: flex-start;
  }

  .link {
    width: 100%;
    height: 100%;
    border: 4px solid var(--primary-color);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  .selected {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}
