.container {
  padding: 12px;
  width: 100%;
  z-index: 999;
  background-color: rgba($color: #000, $alpha: 1);
  backdrop-filter: blur(100px);
  // border-bottom: 1px solid #3d3d3d;

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
  }
}

.menuButton {
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.07);
  }
  &:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
}
