.container {
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  height: calc(100vh - 71px);
  background-color: rgba($color: #000, $alpha: 1);
  // blur
  backdrop-filter: blur(100px);
  padding: 12px;
}
