.button {
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 3px solid transparent;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.primary {
  background-color: var(--swatches-button-dark-background);
  border-color: var(--swatches-button-dark-background-hovered);
  color: white;

  &:hover {
    background-color: var(--swatches-button-dark-background-hovered);
  }
}

.secondary {
  background-color: var(--swatches-button-background);
  border-color: var(--swatches-button-background);
  color: var(--swatches-text-color);

  &:hover {
    background-color: var(--swatches-button-hovered);
    border-color: var(--swatches-button-hovered);
  }
}
