.container {
  // overflow: inherit;
}

.splashLoading {
  height: 200vh;
}

.content {
  padding: 0 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  @media screen and (max-width: 900px) {
    padding: 0 24px;
  }

  @media screen and (max-width: 700px) {
    padding: 0 12px;
  }
}

.infoContainer {
  padding: 0 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 72px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    gap: 24px;
  }
}

.footer {
  height: 200px;
}
