.button {
  outline: none;
  cursor: pointer;
  padding: 14px 24px;
  text-decoration: none;
  color: inherit;
  line-height: 26px;
  font-family: inherit;
  font-size: 18px;
  display: inline-block;
  transition: all 0.2s ease;
  border: 1px solid #333;
  background-color: #090c0f;
  border-radius: 18px;
  height: fit-content;
  text-align: center;
  text-wrap: nowrap;

  &:hover {
    border: 1px solid #3d3d3d;
    background-color: #0f1316;
    text-decoration: none;
  }

  &:active {
    background-color: #13181e;
  }

  &:focus {
    outline: none;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.disabled,
.disabled:hover,
.disabled:active {
  cursor: not-allowed;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  color: #808080;
}
