.container {
  padding-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  gap: 24px;
}
