.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  img {
    width: 120%;
    height: 120%;
    object-fit: cover;
  }
}
