.bubbleContainer {
  border-radius: 24px;
  padding: 12px 20px;
  max-width: 80%;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
}

.blue {
  background-color: var(--blue-check);
  color: white;
}

.grey {
  background-color: var(--chat-bubble-grey);
  color: var(--chat-bubble-grey-text);
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clickable {
  cursor: pointer;
}
