.container {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  z-index: 999;
}

.square {
  height: 20px;
  width: 20px;
  background-color: black;
  transition: background-color 0.1s ease-out;
  // border-radius: 100px;

  &:hover {
    // background-color: rgb(0, 255, 34);
  }

  .squareInner {
    height: 20px;
    width: 20px;
    background-color: black;
    transition: border-radius 1s ease-in;
    border-radius: 0px;

    &:hover {
      background-color: rgb(0, 255, 34);
    }

    // animation: pulse 1s infinite;

    @keyframes pulse {
      0% {
        // transform: scale(1.2);
        border-radius: 10px;
      }

      50% {
        // transform: scale(0.5);
        border-radius: 0px;
      }

      100% {
        // transform: scale(1.2);
        border-radius: 10px;
      }
    }
  }
}

.grid {
  display: flex;
  .rows {
    .columns {
      display: flex;
    }
  }
}
