.container {
  padding: 8px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .dock {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 18px;
    width: fit-content;
    padding: 8px;
    box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dockItem {
      height: 50px;
      width: 50px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .twitter {
      background-color: #009bf5;
      border: 3px solid white;
    }
    .instagram {
      background-color: #f4009d;
      border: 2px solid #ff6d00;
    }
    .github {
      background-color: #7e3da3;
      border: 2px solid #a811ff;
    }
  }
}
