@import '../../styles/mixins.scss';

.container {
  border: 2px solid var(--window-border);
  backdrop-filter: blur(10px);
  border-radius: 24px 24px 12px 12px;
  background-color: var(--window-background);
  box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2);
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  // transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

  @include noSelect;

  .header {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 46px;
    position: relative;

    .headerButtons {
      background-color: var(--window-accent);
      border-radius: 50px;
      padding: 6px;
      display: flex;
      align-items: center;
      margin-right: 8px;

      button {
        height: 18px;
        width: 18px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;

        .icon {
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        &:active {
          filter: brightness(0.8);
        }

        &:not(:last-child) {
          margin-right: 2px;
        }
      }

      &:hover {
        button {
          .icon {
            opacity: 1;
          }
        }
      }
    }

    .labelWrapper {
      background-color: var(--window-accent);
      border-radius: 50px;
      padding: 6px;
      font-size: 13px;
      font-weight: 500;
      color: var(--window-text);
      height: 30px;
      width: 100%;

      .label {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .body {
    border-top: 2px solid var(--window-border);
    padding: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .bodyContainer {
      border-radius: 4px 4px 4px 4px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}
