.borderContainer {
  --padding: 28px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;

  .border {
    height: 60px;
    width: 60px;
  }

  .topRight {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    rotate: 90deg;
  }
  .topLeft {
    position: absolute;
    top: var(--padding);
    left: var(--padding);
  }

  .bottomRight {
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
    rotate: 180deg;
  }
  .bottomLeft {
    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
    rotate: -90deg;
  }
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px;
}
