.borderContainer {
  --padding: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;

  .border {
    height: 48px;
    width: 48px;
  }

  .topRight {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    rotate: 90deg;
  }
  .topLeft {
    position: absolute;
    top: var(--padding);
    left: var(--padding);
  }

  .bottomRight {
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
    rotate: 180deg;
  }
  .bottomLeft {
    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
    rotate: -90deg;
  }
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 96px;
  cursor: pointer;
  transition: 700ms ease all;

  &:hover {
    transform: scale(0.99);
  }

  .tiltWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.logo {
  margin-bottom: 30px;
}

.prompt {
  margin-top: 42px;
  font-weight: 500;
  font-size: 20px;
  visibility: hidden;
  animation: pulse 0.7s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  @keyframes pulse {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}
