.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }

    &:active {
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
}

.modal {
  padding: 8px;
  display: flex;
  gap: 8px; /* Space between image and content */
  max-width: 90%;
  max-height: 90%;
  width: fit-content;
  height: fit-content;
  margin: 54px;
  z-index: 3;
  background-color: black;
  overflow: hidden; /* Ensures modal content doesn't overflow */
  align-items: center; /* Align items vertically */

  .image {
    flex: 1; /* Allows the image container to grow */
    aspect-ratio: 1 / 1; /* Maintains square aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures the image does not overflow */
  }

  .content {
    flex: none; /* Prevents the content from growing */
    width: 350px; /* Fixed width for content */
    min-width: 350px;
    overflow: auto; /* Scroll if content overflows */
    max-height: 100%; /* Ensures content doesn't exceed modal height */
  }
}
