.container {
  padding: 12px;

  .label {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .value {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .strikethrough {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .soldOutLabel {
    font-size: 13px;
    font-weight: 500;
    color: red;
    text-decoration: none;
    margin-left: 8px;
  }

  .divider {
    margin: 12px 0px;
  }

  .stats {
    .stat {
      display: flex;
      align-items: center;
      gap: 12px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      .value {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
      }

      .label {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
      }

      .url {
        display: flex;
        align-items: center;
        gap: 6px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .traits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 18px;

    .trait {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 14px 4px;
      border-radius: 12px;

      .label {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
      }

      .value {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
  }
}
