@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-style: solid;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
