.viewport {
  min-height: calc(100vh - 72px);
  min-height: calc(100svh - 72px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  margin-top: 72px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 12px;

  .imageGrid {
    display: grid;
    grid-gap: 8px;
    max-width: 420px;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 800px) {
      // 4 columns for widths >= 800px and < 1000px
      grid-template-columns: repeat(4, 1fr);
      max-width: 600px;
    }

    @media (min-width: 1000px) {
      // 5 columns for widths >= 1000px
      grid-template-columns: repeat(5, 1fr);
      max-width: 800px;
    }

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
      // border-radius: 12px;
    }
  }
}

.imageTitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 18px;
  width: 100%;
  text-align: right;
  font-weight: 400;

  .date {
    font-style: italic;
    font-weight: 400;
  }
}

.taglineContainer {
  // flex-grow: 1; /* This will make it fill the available space */
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 24px;

  .tagline {
    font-size: 24px;
    font-family: var(--header-font);
  }

  @media screen and (max-width: 462px) {
    margin-top: 24px;

    .tagline {
      font-size: 5vw;
    }
  }
}
