.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;

  .socialMediaContainer {
    padding: 8px 16px;
    background-color: var(--swatches-button-background);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 12px;

    .link {
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        color: var(--swatches-button-dark-background);
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 100px;
  }

  .mintButton {
    border-radius: 100px;
    background-color: var(--swatches-button-dark-background);
    padding: 8px 22px;
    color: white;
  }
}
