.container {
  color: var(--swatches-text-color);
  background-color: var(--swatches-background-color);
  display: flex;
  height: 100svh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 12px;
  padding-top: 70px;
}

.buttons {
  display: flex;
  gap: 12px;
  padding: 12px;
}

.iframe {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  .title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-family: var(--header-font);
    }

    @media screen and (max-width: 500px) {
      bottom: -48px;
    }
  }

  .container {
    width: calc(min(90vw, 90vh));
    height: calc(min(90vw, 90vh)); /* Default size */
    max-width: 100%; /* Ensure it doesn't overflow its container */
    max-height: 100%; /* Ensure it doesn't overflow its container */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    border-radius: 36px;
    border-top-left-radius: 18px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      border-radius: 28px;
      border-top-left-radius: 12px;
    }

    /* Adjustments for larger screens */
    @media (min-width: 500px) and (min-height: 500px) {
      width: 350px;
      height: 350px;
    }

    @media (min-width: 500px) and (min-height: 650px) {
      width: 440px;
      height: 440px;
    }

    @media (min-width: 701px) and (min-height: 750px) {
      width: 500px;
      height: 500px;
    }

    @media (min-width: 801px) and (min-height: 801px) {
      width: 550px;
      height: 550px;
    }

    @media (min-width: 1001px) and (min-height: 1001px) {
      width: 700px;
      height: 700px;
    }

    @media (min-width: 1201px) and (min-height: 1201px) {
      width: 800px;
      height: 800px;
    }

    @media (min-width: 1501px) and (min-height: 1501px) {
      width: 900px;
      height: 900px;
    }
  }
}
