.container {
  border: 1px solid #333;
  background-color: #090c0f;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 18px;
  max-width: 500px;
  width: 100%;
  flex: 1;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .avatar {
      border-radius: 100px;
    }

    .headerRight {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      .location {
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0.5;
      }
    }
  }

  .button {
    margin-top: 12px;
    padding: 8px;
    padding-left: 22px;
    height: 56px;
    color: rgba($color: #ffffff, $alpha: 0.2);
    font-weight: 400;
    border: 1px solid #333;
    // background-color: rgba($color: white, $alpha: 0.05);
    background-color: black;
    border-radius: 18px;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    width: 100%;
    justify-content: space-between;

    &:hover {
      border: 1px solid #444;
    }

    &:active {
      background-color: rgba($color: white, $alpha: 0.01);
      border: 1px solid #444;
    }

    .buttonIcon {
      background-color: #12171c;
      width: 42px;
      height: 42px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
