.container {
  border: 1px solid #333;
  background-color: #090c0f;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 18px;
  max-width: 500px;
  width: 100%;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0px 8px;

    .avatar {
      border-radius: 100px;
    }

    .headerRight {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      .location {
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0.5;
      }
    }
  }

  .button {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #0490ea;
    border-radius: 12px;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    width: 100%;
    justify-content: center;

    &:hover {
      background-color: #2ea1ff;
      box-shadow: 0 0 0 2px #43aaff;
    }

    &:active {
      background-color: #0490ea;
    }
  }
}
