.container {
  color: var(--swatches-text-color);
  background-color: var(--swatches-background-color);
  display: flex;
  height: -webkit-fill-available; /* For Safari */
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.iframe {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 0.2s ease;
  position: relative;
  margin-top: -84px;

  .title {
    position: absolute;
    bottom: -54px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 500;

    @media screen and (max-width: 500px) {
      bottom: -48px;
    }
  }

  @media screen and (max-width: 500px) {
    margin-left: 12px;
    margin-right: 12px;
  }

  .container {
    width: calc(min(90vw, 90vh));
    height: calc(min(90vw, 90vh)); /* Default size */
    max-width: 100%; /* Ensure it doesn't overflow its container */
    max-height: 100%; /* Ensure it doesn't overflow its container */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    border-radius: 18px;
    overflow: hidden;

    /* Adjustments for larger screens */

    @media (min-width: 500px) and (min-height: 500px) {
      width: 350px;
      height: 350px;
    }

    @media (min-width: 500px) and (min-height: 650px) {
      width: 440px;
      height: 440px;
    }

    @media (min-width: 701px) and (min-height: 750px) {
      width: 500px;
      height: 500px;
    }

    @media (min-width: 801px) and (min-height: 801px) {
      width: 550px;
      height: 550px;
    }

    @media (min-width: 1001px) and (min-height: 1001px) {
      width: 700px;
      height: 700px;
    }

    @media (min-width: 1201px) and (min-height: 1201px) {
      width: 800px;
      height: 800px;
    }

    @media (min-width: 1501px) and (min-height: 1501px) {
      width: 900px;
      height: 900px;
    }
  }
}
