.container {
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  .top {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
  .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: 16px;
  }
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 16px;
  }

  button {
    height: 58px;
    width: 58px;
    border: none;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    background-color: transparent;
    color: white;
    transition: all 200ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.dpadButton {
  height: 80px;
  width: 60px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  outline: none;
  border: 5px solid white;
  background-color: #1e1e1e;
}
