.container {
  min-height: calc(100vh);
  min-height: calc(100svh);
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    max-width: 450px;
    background-color: var(--background);
    z-index: 2;
    padding: 18px;

    .header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .avatar {
        border-radius: 100px;
        background-color: black;
        aspect-ratio: 1;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 2px solid #1e1e1e;

        .active {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background-color: #00ff22;
          position: absolute;
          bottom: 3px;
          right: 3px;
          border: 2px solid var(--background);
        }
      }

      .headerRight {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .location {
          margin-top: 12px;
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--text-secondary);
        }
      }
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .button {
      width: 100%;
      height: 50px;
      padding: 12px;
      border-radius: 100px;
      background-color: var(--card);
      color: var(--text-secondary);
      font-size: 18px;
      cursor: pointer;
      gap: 8px;
      margin-top: 12px;
      text-align: left;
      padding-left: 24px;
    }

    .iconButton {
      height: 50px;
      width: auto;
      aspect-ratio: 1;

      border-radius: 100px;

      background-color: #00a4ff;
      font-size: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 12px;
    }
  }
}

.typingText {
  font-size: 16px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 4px;
}

.blinkingCursor {
  animation: blink 1s infinite;
  height: 20px;
  width: 2px;
  background-color: #cfcfcf;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
