.container {
  position: fixed;
  top: 16px;
  right: 16px;
  border: 1px solid var(--typing-background);
  background-color: var(--card);
  border-radius: 18px;
  padding: 14px;
  padding-left: 18px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    width: calc(100% - 32px);
    top: 16px;
    bottom: unset;
    z-index: 4;
  }

  .title {
    color: var(--text-secondary);
  }

  .right {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .button {
    padding: 8px 16px;
    background-color: var(--typing-background);
    color: var(--typing-background-text);
    border-radius: 8px;
    transition: all 0.2s ease-in;
  }

  .notification {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background-color: red;
    color: white;
    border-radius: 50px;
    height: 24px;
    width: 24px;
  }
}
