.viewport {
  min-height: 100svh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  position: relative;
  background-color: var(--background);
  transition: background-color 0.2s ease;

  @media screen and (max-height: 800px) {
    justify-content: flex-start;
  }

  .scrollIconContainer {
    position: absolute;
    bottom: 16px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
  }
}
