.container {
  padding: 12px;
  width: 100%;
  z-index: 999;
  background-color: var(--background);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
  }
}

.menuButton {
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
