.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 999;

  .circle {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--foreground);
  }

  .handle {
    height: 12px;
    width: 12px;
    background-color: var(--foreground);
    border-radius: 50%;
    background-color: var(--foreground);
    box-shadow: 0 0 25px 2px white;
  }
}
