@import './global.css';
@import './fonts/fonts.scss';

:root {
  --black: #181818;
  --white: #ffffff;
  --pink: #febad1;
  --red: #fa0020;
  --yellow: #fdcf29;
  --blue: #96ddef;
  --green: #b2dc27;
  --purple: #a8a8ff;
  --teal: #35adab;
  --orange: #ff9900;
  --green: #00cc00;
  --purple: #9900cc;
  --pink: #ff00cc;
  --blu: #00ccff;
  --red: #ff001f;
  --orange: #ff6700;
  --blue: #0086ff;
  --green: #00db34;
  --yellow: #fed401;
  --pink: #ff36c2;
  --extra-dark-grey: #696b6e;
  --dark-grey: #898a8c;
  --grey: #c3c6cb;
  --medium-grey: #afb2b7;
  --mobile-width: 768px;
  --cursor-default: url('/cursor.svg') 2 2, auto;
  --cursor-pointer: pointer;
  --default-font: 'Source Code Pro', sans-serif;
  --header-font: 'Futura Bold', sans-serif;
  // swatches
  --swatches-background-color: #f1f1f1;
  --swatches-background-hovered: #e1e0e0;
  --swatches-text-color: #808080;
  --swatches-button-background: #e5e5e5;
}
@import './theme.scss';
@import './mixins.scss';

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--default-font);
  color: white;
  min-height: -webkit-fill-available;
  // background-color: #000000;
  background-size: 100% 100%;
  cursor: var(--cursor-default);
}

button {
  cursor: var(--cursor-pointer);

  // ignore focus styles on buttons
  &:focus {
    outline: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 600;
}
