body {
  &.LIGHT {
    --window-border: var(--dark-grey);
    --window-background: var(--grey);
    --window-accent: var(--medium-grey);
    --window-text: var(--extra-dark-grey);
    --header-border: #dbdbdb;
    --header-background: #f4f4f4;
    --header-accent: #2d2d2d;
    --header-secondary: #e7e6e6;
    --primary-color: var(--black);
    --secondary-color: var(--white);

    // home page
    --background: #000;
    --foreground: white;
  }

  &.DARK {
    --primary-color: var(--white);
    --secondary-color: var(--black);

    // home page
    --background: white;
    --foreground: #0a0a0a;
  }
}
