body {
  &.LIGHT {
    --window-border: var(--dark-grey);
    --window-background: var(--grey);
    --window-accent: var(--medium-grey);
    --window-text: var(--extra-dark-grey);
    --header-border: #dbdbdb;
    --header-background: #f4f4f4;
    --header-accent: #2d2d2d;
    --header-secondary: #e7e6e6;
    --primary-color: var(--black);
    --secondary-color: var(--white);

    // home page
    --background: white;
    --card: #f2f2f2;
    --foreground: #252525;
    --secondary: #a7a7a7;
    --text-secondary: #9e9e9e;
    --typing-background: #e2e2e2;
    --chat-bubble: #222222;
  }

  &.DARK {
    --primary-color: var(--white);
    --secondary-color: var(--black);

    // home page
    --background: #000;
    --card: #111111;
    --foreground: white;
    --secondary: #606060;
    --text-secondary: #b6b6b6;
    --typing-background: #f4f4f4;
    --chat-bubble: #222222;
  }
}
