.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 72px 24px;
  color: var(--foreground);

  .title {
    font-family: var(--header-font);
    font-size: 36px;
    margin-bottom: 36px;
    color: var(--text-secondary);
  }

  .contentContainer {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .link {
      width: 100%;
      border-radius: 24px;
      background-color: var(--card);
      padding: 24px;
      color: var(--press-title);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      position: relative;

      .wrapper {
        width: 100%;
      }

      .image {
        height: 65px;
        width: 65px;
        border-radius: 100px;
      }

      .linkTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        font-size: 18px;
        transition: all 0.1s ease;
      }

      .linkDescription {
        font-size: 16px;
        color: var(--text-secondary);
      }

      .icon {
        position: absolute;
        top: 24px;
        right: 24px;
        transition: all 0.1s ease;
      }

      &:hover {
        .linkTitle {
          color: var(--foreground);
        }
        .icon {
          transform: translateY(-2px) translateX(2px);
        }
      }
    }
  }
}
