.container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  background-color: rgba($color: #eeeeee, $alpha: 0.7);
  backdrop-filter: blur(10px);
  z-index: 2;

  .socialMediaContainer {
    padding: 8px 16px;
    background-color: var(--swatches-button-background);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 12px;

    .link {
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        color: var(--swatches-button-dark-background);
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
  }

  .mintButton {
    border-radius: 100px;
    background-color: var(--swatches-button-dark-background);
    padding: 8px 22px;
    color: white;
  }
}

.menuContent {
  box-shadow: none;
  border: 2px solid var(--swatches-button-background);
  padding: 6px;
  border-radius: 26px;

  .link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 24px;
    color: var(--swatches-text-color);
    transition: all 0.2s ease-out;
    width: 100%;

    &:hover {
      background-color: var(--swatches-background-color);
      color: #5a5a5a;
    }
  }

  .dark {
    background-color: var(--swatches-button-dark-background);
    color: white;

    &:hover {
      background-color: var(--swatches-button-background);
    }
  }
}

.accountDropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
